<ion-view view-title="about">
<ion-content scroll="false" class="padding">
<p>
	<a ui-sref="home">Home</a>
</p>
<h1>A propos de moi</h1>
<div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ducimus, illo unde aliquam ex aspernatur! Amet fuga explicabo quisquam iste placeat soluta delectus vel cum unde, at provident quia ipsam.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ducimus, illo unde aliquam ex aspernatur! Amet fuga explicabo quisquam iste placeat soluta delectus vel cum unde, at provident quia ipsam.
</div>
</ion-content>
</ion-view view-title="home">