<ion-view view-title="home">
	<ion-content class="padding">
		<p>
			<a ui-sref="about">About</a>
		</p>
		<form class="list list-inset" ng-submit="search(city)">
		  <label class="item item-input">
		    <input type="text" placeholder="Ville" ng-model="city">
		  </label>
		  <div class="padding">
		  <button class="button button-block button-balanced">Envoyer</button>
		</div>
		</form>
	</ion-content>
</ion-view view-title="home">